{% extends 'UserBundle::layout.html.twig' %}

{% block fos_message_content %}
<div class="user-interface-page-header">
    <div class="page-name">
        Conversation avec {{ thread.participants[1] }}
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-md-offset-right-1 list-message-show">
            <div class="show-all-messages">
                <div class="row">
                    <div class="col-md-12">
                        <div class="message-header">
                            <h2>{{ thread.subject }}</h2>
                             <span>Par: {{ thread.createdBy }} - {{ thread.createdAt|date }}</span>
                        </div>

                        {% for message in thread.messages %}
                            <div class="messenger_thread_message">
                                <div class="messenger_thread_message_info">
                                    {% if message.sender.avatar.id is not defined %}
                                        <img src="{{ asset('/img/no-image.png') }}" class="message-avatar"/>
                                    {% else %}
                                        <img src="{{ asset('/uploads/avatar/') }}user-{{ message.sender.id }}.png" class="message-avatar"/>
                                    {% endif %}
                                    <div class="message-sender">{{ message.sender }}</div>
                                    <div class="message-time">{{ message.createdAt|date('d/m/y H:i') }}</div>
                                </div>

                                <div class="messenger_thread_message_body" id="message_{{ message.id }}">
                                    {% autoescape false %}
                                        {{ message.body }}
                                    {% endautoescape %}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="reply-title">
                            <h3>Répondre</h3>
                        </div>

                        {{ form_start(form, { 'action': path('fos_message_thread_view', { 'threadId': thread.id }), 'attr': { 'class': 'fos_message_thread_new' } }) }}
                            {{ form_widget(form.body) }}
                            <input type="submit" value="Envoyer" class="send-message-submit-input btn btn-success"/>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        $('#message_body').prop('required', false);
</script>
{% endblock %}
