{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <header class="header">
                <div class="container">
                    <div class="header-logo">
                        <a href="{{ path('nao_home') }}">
                            <img src="{{ asset('img/logo-full.png') }}" class="header-logo"/>
                        </a>
                        <form class="navbar-form navbar-right">
                            <div class="input-group header-search">
                                <input type="text" class="form-control" placeholder="Rechercher...">
                                <span class="input-group-btn">
                                    <button class="btn btn-search" type="button">OK</button>
                                </span>
                            </div>
                        </form>
                        <div class="navbar navbar-right navbar-social-media">
                            <i class="fab fa-facebook"></i>
                            <i class="fab fa-instagram"></i>
                        </div>
                    </div>
                </div>
                <nav class="navbar navbar-home">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="{{ path('nao_home') }}">
                                <div class="collapse-logo">
                                    <img src="{{ asset('img/landing-page/Logo-condensé.png') }}" class="collapse-logo img-responsive"/>
                                    <div class="collapse-brand">
                                        NAO
                                    </div>
                                </div>
                            </a>
                            <div class="collapse-quick-menu">
                                <a href="{{ path('nao_obs_add') }}">
                                    <i class="fas fa-camera-retro"></i>
                                </a>
                                <a href="{{ path('nao_obs_search') }}">
                                    <i class="fas fa-search"></i>
                                </a>
                                <a href="{{ path('nao_blog_index') }}">
                                    <i class="far fa-newspaper"></i>
                                </a>
                                <a href="{{ path('nao_quiz') }}">
                                    <i class="fas fa-gamepad"></i>
                                </a>
                                <a href="{{ path('nao_profile') }}">
                                    <i class="fas fa-user"></i>
                                </a>
                            </div>

                            <div class="nav-brand">
                                <a href="{{ path('nao_home') }}">
                                <i class="fas fa-home"></i> Accueil
                                </a>
                            </div>
                        </div>

                        <div class="collapse navbar-collapse" id="navbar-collapse">
                            <ul class="nav nav-home navbar-nav">
                            </ul>
                            <ul class="nav nav-home navbar-nav navbar-right">
                                <li class="sub-menu-index">
                                    <a href="{{ path('nao_obs_add') }}">
                                        Participer
                                    </a>
                                </li>
                                <li class="sub-menu-index">
                                    <a href="{{ path('nao_obs_search') }}">
                                        Consulter
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">S'informer <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li class="sub-menu-index"><a href="{{ path('nao_blog_index') }}">Blog</a></li>
                                        <li class="sub-menu-index"><a href="{{ path('nao_quiz') }}">Jeu</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li class="sub-menu-index"><a href="#">A propos</a></li>
                                        <li class="sub-menu-index"><a href="#">FAQ</a></li>
                                        <li class="sub-menu-index"><a href="{{ path('nao_contact') }}">Contact</a></li>
                                    </ul>
                                </li>

                                {% if is_granted('ROLE_USER') %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mon espace <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li class="sub-menu-index"><a href="{{ path('nao_dashboard') }}">Tableau de bord</a></li>
                                        <li class="sub-menu-index"><a href="{{ path('nao_obs_check_list') }}">Validations</a></li>
                                        <li class="sub-menu-index"><a href="{{ path('fos_message_inbox') }}">Messagerie</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li class="sub-menu-index"><a href="{{ path('nao_profile_edit') }}">Paramètres</a></li>
                                        <li class="sub-menu-index"><a href="{{ path('nao_logout') }}">Se déconnecter</a></li>
                                    </ul>
                                </li>
                                {% else %}
                                    <li class="sub-menu-index">
                                        <a href="{{ path('nao_login') }}">
                                            Se connecter
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
        </div>
    </div>

    {% block content %}{% endblock %}
    {% block fos_user_content %}{% endblock %}

    <div class="container-fluid pre-footer">
        <div class="row">
            <div class="container">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <a href="{{ path('nao_contact') }}">
                        Contact
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <a href="{{ path('nao_presse') }}">
                        Presse
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <a href="{{ path('nao_partners') }}">
                        Partenaires
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <a href="{{ path('nao_credits') }}">
                        Crédits
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid container-footer">
        <div class="row">
            <div class="container">
                <a href="http://eepurl.com/dl3-gz" class="newsletter">
                    <div class="footer-newsletter">
                        Restez informé en souscrivant à notre newsletter
                    </div>
                </a>
                <footer class="footer">
                    <div class="col-md-3 footer-section">
                        <div class="footer-section-title">
                            La NAO
                        </div>
                        <div class="footer-section-content">
                            <ul>
                                <li class="sub-menu-index">
                                    <a href="{{ path('nao_obs_add') }}">
                                        Participer
                                    </a>
                                </li>
                                <li class="sub-menu-index">
                                    <a href="{{ path('nao_obs_search') }}">
                                        Consulter
                                    </a>
                                </li>
                                <li class="sub-menu-index">
                                    <a href="{{ path('nao_blog_index') }}">
                                        Blog
                                    </a>
                                </li>
                                <li class="sub-menu-index">
                                    <a href="{{ path('nao_quiz') }}">
                                        Jeu
                                    </a>
                                </li>
                                <li class="sub-menu-index">
                                    <a href="#">
                                        A propos
                                    </a>
                                </li>
                                <li class="sub-menu-index">
                                    <a href="#">
                                        FAQ
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 footer-section">
                        <div class="footer-section-title">
                            Contact
                        </div>
                        <div class="footer-section-content">
                            <ul>
                                <li class="sub-menu-index">
                                    <div class="form-group">
                                        <form action="{{ path('nao_footer_contact') }}" method="POST">
                                            <input name="formFooter[email]" type="text" class="form-control" id="quick-contact" placeholder="Email" />
                                            <textarea name="formFooter[content]" class="form-control" id="quick-contact" rows="5" id="message" placeholder="Message"></textarea>
                                            <button type="submit" class="btn btn-footer-form">Envoyer</button>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 footer-section">
                        <div class="footer-section-title">
                            S'informer
                        </div>
                        <div class="footer-section-content footer-infos">
                            <ul>
                                <li class="sub-menu-index"><i class="fas fa-phone"></i> Tel: 123-456-7890</li>
                                <li class="sub-menu-index"><i class="fas fa-at"></i> Email: contact@nao.fr</li>
                                <li class="sub-menu-index"><i class="fas fa-map"></i> Lieu: France</li>
                                <li class="sub-menu-index"><i class="fas fa-map-marker-alt"></i> Adresse: 2 rue des oiseaux</li>
                                <li class="sub-menu-index"><i class="fas fa-calendar-alt"></i> Horaires: Tous les jours</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 footer-section">
                        <div class="footer-section-title">
                            Partenaires
                        </div>
                        <div class="footer-section-content">
                            <div class="footer-logos">
                                <div class="row">
                                    <div class="col-md-6 col-xs-6">
                                        <a href="http://www.oiseaux.net">
                                            <img src="{{ asset('img/logo-oiseauxnet.png') }}" class="logo-footer"/>
                                        </a>
                                    </div>
                                    <div class="col-md-6 col-xs-6">
                                        <a href="http://www.ornithomedia.com">
                                            <img src="{{ asset('img/logo-ornithomedia.png') }}" class="logo-footer" />
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-6">
                                        <a href="https://inpn.mnhn.fr">
                                            <img src="{{ asset('img/logo-inpn.png') }}" class="logo-footer"/>
                                        </a>
                                    </div>
                                    <div class="col-md-6 col-xs-6">
                                        <a href="http://www.gepog.org">
                                            <img src="{{ asset('img/logo-gepog.png') }}" class="logo-footer" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <div class="copyright">© {{ "now"|date("Y") }} Copyright - Nos Amis les Oiseaux</div>
    </div>


<button onclick="topFunction()" id="btnTop" class="btn btn-nao"><i class="fas fa-angle-up"></i></button>


{% block javascripts %}
    <script type="text/javascript" title="Go to Top">
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("btnTop").style.display = "block";
            } else {
                document.getElementById("btnTop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    </script>

    <script type="text/javascript">
        var $document = $(document),
            $element = $('.navbar-home'),
            className = 'navbar-fixed-top';

        $document.scroll(function() {
            $element.toggleClass(className, $document.scrollTop() >= 50);
        });
    </script>
{% endblock %}

{% endblock %}