
<tr>
	<td class="col-sm-1">

		{% if observation.validated or (not observation.hasValidation and observation.publish) %}
			{% set linkroute = 'nao_obs_show' %}
		{% else %}
			{% set linkroute = 'nao_obs_edit' %}
		{% endif %}	

		<a href="{{ path(linkroute, {'id': observation.id}) }}" class="{{ not observation.hasValidation ? 'text-warning' : observation.validated ? 'text-success' : 'text-danger' }}">
			
			{% if not observation.hasValidation and not observation.publish %}
				<span><i class="fas fa-save" title="sauvegardée"></i></span>
			{% elseif not observation.hasValidation and observation.publish %}
				<span><i class="fas fa-gavel" title="en attente de validation"></i></span>
			{% elseif observation.validated %}
				<i class="fas fa-check-square icon-success" title="validée"></i> 
			{% else %}
				<i class="fas fa-exclamation-triangle icon-alert" title="rejetée"></i> 
			{% endif %}

{# 			{% if observation.publish %}
				<i class="fas fa-eye" title="publiée"></i>
			{% else %}
				<i class="fas fa-eye-slash" title="non publiée"></i> 
			{% endif %} #}
		</a>
	</td>
	<td class="col-sm-6">
		{% if observation.noName %}
			<i class="far fa-question-circle"></i> 
		{% endif %}
		<a href="{{ path(linkroute, {'id': observation.id}) }}" class="{{ not observation.hasValidation ? 'text-warning' : observation.validated ? 'text-success' : 'text-danger' }}">
			{{ observation.birdName ? observation.birdName : 'non identifié' }}
		</a>
	</td>
	<td class="col-sm-3">
		{{ observation.day|date('d/m/Y') }}
	<td class="col-sm-2">
		<div class="btn-group">
			<a href="{{ path('nao_obs_show', {'id': observation.id}) }}" class="btn btn-default btn-sm"><i class="fas fa-eye fa-lg" title="voir"></i></a>
			<a href="{{ path('nao_obs_edit', {'id': observation.id}) }}" class="btn btn-default btn-sm"><i class="fas fa-edit fa-lg" title="modifier"></i></a>
			<a href="{{ path('nao_obs_remove', {'id': observation.id}) }}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt fa-lg icon-delete" title="supprimer"></i></a>
		</div>
	</td>
</tr>