<div class="col-xs-12">
	{{ form_start(formObs) }}
</div>

<div class="col-xs-12" class="image-edit">
    {% if observation.image %}
    	<img id="image-remover-tracker-on" src="{{ asset(vich_uploader_asset(observation.image, 'imageFile')) }}" alt="{{ observation.birdName }}" class="img-fluid rounded" /> 
    {% else %}
        <img id="image-remover-tracker-off" src="{{ asset('/img/no-image.png') }}" class="user-avatar-image-edit"/>
    {% endif %}
	{{ form_row(formObs.image) }}
	<a id="image-remover" href="#" class="btn btn-danger btn-sm hide"><i class="fas fa-times"></i> supprimer l'image</a>
</div>

<div class="col-xs-10">
	{{ form_row(formObs.birdName) }}
</div>
<div class="col-xs-2">
	{{ form_row(formObs.noName) }}
</div>

<div class="col-xs-12">
	{{ form_row(formObs.day) }}
</div>

<div class="col-xs-12 col-sm-6">
	<div id="map"></div>
</div>

<div class="col-xs-12 col-sm-6">
	{{ form_row(formObs.place) }}
</div>

<div class="col-xs-12 col-sm-6">
	{{ form_row(formObs.latitude) }}
</div>
<div class="col-xs-12 col-sm-6">
	{{ form_row(formObs.longitude) }}
</div>

<div class="col-xs-12 col-sm-6">
	{{ form_row(formObs.comment) }}
</div>

<div class="col-xs-12 col-sm-6">
	{{ form_end(formObs) }}
</div>
