<div class="col-xs-12">
	{{ form_start(formObs) }}
</div>

<div class="col-xs-10">
	{{ form_row(formObs.birdName) }}
</div>
<div class="col-xs-2">
	{{ form_row(formObs.noName) }}
</div>

<div class="col-xs-12">
	{{ form_row(formObs.comment) }}
</div>

<div class="col-xs-12">
	{{ form_row(formObs.validationComment) }}
</div>

<div class="col-xs-12">
	{{ form_end(formObs) }}
</div>