<div class="col-xs-12">
	{{ form_start(formObs) }}
</div>

<div class="col-xs-12">
	{{ form_widget(formObs.image) }}
</div>

<div class="col-xs-10">
	{{ form_row(formObs.birdName) }}
</div>
<div class="col-xs-2">
	{{ form_row(formObs.noName) }}
</div>

<div class="col-xs-12">
	{{ form_row(formObs.day) }}
</div>

<div class="col-xs-12 col-sm-6">
	{{ form_row(formObs.latitude) }}
</div>
<div class="col-xs-12 col-sm-6">
	{{ form_row(formObs.longitude) }}
</div>

<div class="col-xs-12">
	{{ form_row(formObs.place) }}
</div>

<div class="col-xs-12">
	{{ form_row(formObs.comment) }}
</div>

<div class="col-xs-12">
	{{ form_end(formObs) }}
</div>
