<div class="col-xs-12">
	<div class="panel panel-nao">
		<div class="panel-heading">
			<h3>Informations obligatoires</h3>
		</div>
	</div>
</div>

<div class="col-xs-12">
	{{ form_start(formObs) }}
	{{ form_errors(formObs) }}
</div>


<div class="col-xs-12 col-sm-6">
	<div class="image-obs-form">
	    {% if observation.image and observation.image.imageName %}
	    	<img id="image-remover-tracker-on" src="{{ asset(vich_uploader_asset(observation.image, 'imageFile')) }}" alt="{{ observation.birdName }}" class="img-responsive" />
	    {% else %}
	        <img id="image-remover-tracker-off" src="{{ asset(file_image_obs_default) }}" class="img-responsive"/>
	    {% endif %}
	</div>

    {% block modal %}
		{% include 'ObservationBundle:Modal:imageauthor.html.twig' %}
	{% endblock %}

	{{ form_widget(formObs.removeImage) }}
    {{ form_label(formObs.image.imageFile) }}
	{{ form_errors(formObs.image.imageFile) }}
    <a id="image-remover" href="#" class="btn btn-danger btn-sm hide"><i class="fas fa-times"></i> supprimer l'image</a>
	{{ form_widget(formObs.image.imageFile) }}
	<div class="row">
		<div class="col-xs-12">
			{{ form_widget(formObs.image.authorization) }}
			{{ form_errors(formObs.image.authorization) }}
		</div>
	</div>
	{{ form_label(formObs.birdName) }} <span class="required">*</span>
	{{ form_errors(formObs.birdName) }}
	<div class="input-group">
		{{ form_widget(formObs.birdName) }}
		<a href="#" id="inpnLink" class="input-group-addon btn btn-default disabled" target="_blank"><i class="fas fa-database"></i> INPN</a>
		<a href="#" id="wikiLink" class="input-group-addon btn btn-default disabled" target="_blank"><i class="fab fa-wikipedia-w"></i> Wiki</a>
	</div>
	{{ form_widget(formObs.noName) }}
	{{ form_errors(formObs.noName) }}
	{{ form_label(formObs.day) }} <span class="required">*</span>
	{{ form_errors(formObs.day) }}
	{{ form_widget(formObs.day) }}
</div>

<div class="col-xs-12 col-sm-6">
	{{ form_label(formObs.place) }}
	{{ form_widget(formObs.place) }}
	<div id="map"></div>
	<div class="alert alert-warning">
		<i class="fas fa-info-circle"></i> 
		Bouger le curseur sur la carte pour géolocaliser le lieu de l'observation
	</div>
	{{ form_label(formObs.latitude) }} <span class="required">*</span>
	{{ form_errors(formObs.latitude) }} 
	{{ form_widget(formObs.latitude) }}
	{{ form_label(formObs.longitude) }} <span class="required">*</span>
	{{ form_errors(formObs.longitude) }}
	{{ form_widget(formObs.longitude) }}
</div>

<div class="col-xs-12">
	{{ form_label(formObs.description.comment) }} <span class="required">*</span>
	{{ form_errors(formObs.description.comment) }}
	{{ form_widget(formObs.description.comment) }}
</div>


<div class="col-xs-12 form-title">
	<div class="panel panel-nao">
		<div class="panel-heading">
			<span class="pull-right"><a href="#submit" class="btn btn-default"><i class="fas fa-angle-double-down"></i></a></span>
			<h3>Informations recommandées</h3>
		</div>
	</div>
</div>


<div class="col-xs-12 btn-default">
		<h4>Environnement de l'observation</h4>
</div>

<div class="col-xs-12">
	<div class="col-xs-12 col-sm-6">
		{{ form_label(formObs.description.environment) }}
		{{ form_errors(formObs.description.environment) }}
		{{ form_widget(formObs.description.environment) }}

		{{ form_label(formObs.description.number) }}
		{{ form_errors(formObs.description.number) }}
		{{ form_widget(formObs.description.number) }}
	</div>
	<div class="col-xs-12 col-sm-6">
		{{ form_label(formObs.description.nest) }}
		{{ form_errors(formObs.description.nest) }}
		{{ form_widget(formObs.description.nest) }}

		{{ form_label(formObs.description.eggs) }}
		{{ form_errors(formObs.description.eggs) }}
		{{ form_widget(formObs.description.eggs) }}
	</div>
</div>

<div class="col-xs-12 btn-default">
		<h4>Taille et morphologie de l'oiseau</h4>
</div>

<div class="col-xs-12">
	<div class="col-xs-12 col-sm-6">
		{{ form_label(formObs.description.size) }}
		{{ form_errors(formObs.description.size) }}
		{{ form_widget(formObs.description.size) }}

		{{ form_label(formObs.description.wings) }}
		{{ form_errors(formObs.description.wings) }}
		{{ form_widget(formObs.description.wings) }}

		{{ form_label(formObs.description.tail) }}
		{{ form_errors(formObs.description.tail) }}
		{{ form_widget(formObs.description.tail) }}

		{{ form_label(formObs.description.paws) }}
		{{ form_errors(formObs.description.paws) }}
		{{ form_widget(formObs.description.paws) }}

		{{ form_label(formObs.description.beak) }}
		{{ form_errors(formObs.description.beak) }}
		{{ form_widget(formObs.description.beak) }}
	</div>
	<div class="col-xs-12 col-sm-6">
		{{ form_label(formObs.description.plumageColor) }}
		{{ form_errors(formObs.description.plumageColor) }}
		{{ form_widget(formObs.description.plumageColor) }}

		{{ form_label(formObs.description.bareColor) }}
		{{ form_errors(formObs.description.bareColor) }}
		{{ form_widget(formObs.description.bareColor) }}

		{{ form_label(formObs.description.pawsColor) }}
		{{ form_errors(formObs.description.pawsColor) }}
		{{ form_widget(formObs.description.pawsColor) }}

		{{ form_label(formObs.description.beakColor) }}
		{{ form_errors(formObs.description.beakColor) }}
		{{ form_widget(formObs.description.beakColor) }}
	</div>
</div>


{# <div class="col-xs-12 btn-default">
	<h4>Comportement et autres détails</h4>
</div>

<div class="col-xs-12">
	{{ form_label(formObs.description.escape) }}
	{{ form_widget(formObs.description.escape) }}
	{{ form_errors(formObs.description.escape) }}

	{{ form_label(formObs.description.move) }}
	{{ form_widget(formObs.description.move) }}
	{{ form_errors(formObs.description.move) }}

	{{ form_label(formObs.description.land) }}
	{{ form_widget(formObs.description.land) }}
	{{ form_errors(formObs.description.land) }}

	{{ form_label(formObs.description.sounds) }}
	{{ form_widget(formObs.description.sounds) }}
	{{ form_errors(formObs.description.sounds) }}
</div> #}

<div class="col-xs-12 form-title" id="submit">
	<div class="panel panel-nao">
		<div class="panel-heading">
			<h3>Soumission de l'observation</h3>
		</div>
	</div>
</div>

<div class="col-xs-12 col-sm-6">
	{{ form_label(formObs.comment) }}
	{{ form_errors(formObs.comment) }}
	{{ form_widget(formObs.comment) }}
</div>


{# Comment of validator if exists #}
{% if observation.hasValidation %}

	<div class="col-xs-12 col-sm-6">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h5>Conseils du validateur</h5>
			</div>
			<div class="panel-body">
				{% if observation.validation.comment is not null %}
					{{ observation.validation.comment }}
				{% else %}
					Le validateur n'a laissé aucun commentaire
				{% endif %}
			</div>
			<ul class="list-group">
				<li class="list-group-item">
					{% set user = observation.validation.author %}
					{% include 'ObservationBundle:Item:usermedia.html.twig' %}
				</li>
			</ul>
		</div>
	</div>

{% endif %}


<div class="col-xs-12 text-center submit-area">
	{{ form_widget(formObs.valid) }}
	{{ form_widget(formObs.save) }}
	{{ form_end(formObs) }}
</div>