<div class="row">

  {{ form_start(formSearch) }}

  <div class="col-xs-12">
    {{ form_errors(formSearch) }}
  </div>

  <div class="col-xs-12">
    {{ form_label(formSearch.birdName) }}
    {{ form_widget(formSearch.birdName) }}
    {{ form_errors(formSearch.birdName) }}
  </div>

  <div class="col-xs-12">
    {{ form_label(formSearch.birdFamily) }}
    {{ form_widget(formSearch.birdFamily) }}
    {{ form_errors(formSearch.birdFamily) }}
  </div>

  <div class="col-xs-12">
    {{ form_label(formSearch.birdOrder) }}
    {{ form_widget(formSearch.birdOrder) }}
    {{ form_errors(formSearch.birdOrder) }}
  </div>

  <div class="col-xs-12">
    {{ form_label(formSearch.birdSize) }}
    {{ form_widget(formSearch.birdSize) }}
    {{ form_errors(formSearch.birdSize) }}
  </div>

  <div class="col-xs-12">
    {{ form_label(formSearch.birdColor) }}
    {{ form_widget(formSearch.birdColor) }}
    {{ form_errors(formSearch.birdColor) }}
  </div>

  <div class="col-xs-12">
    {{ form_label(formSearch.obsDate) }}
    {{ form_widget(formSearch.obsDate) }}
    {{ form_errors(formSearch.obsDate) }}
  </div>

  <div class="col-xs-12">
    {{ form_label(formSearch.obsAuthor) }}
    {{ form_widget(formSearch.obsAuthor) }}
    {{ form_errors(formSearch.obsAuthor) }}
  </div>

  <div class="col-xs-12">
    {{ form_label(formSearch.obsLocation) }}
    {{ form_widget(formSearch.obsLocation) }}
    {{ form_errors(formSearch.obsLocation) }}
  </div>

  <div class="col-xs-12">
    {{ form_label(formSearch.obsWithImage) }}
    {{ form_widget(formSearch.obsWithImage) }}
    {{ form_errors(formSearch.obsWithImage) }}
  </div>

  <div class="col-xs-12">
    {{ form_widget(formSearch.search) }}
    {{ form_widget(formSearch.reset) }}
  </div>

  {{ form_end(formSearch) }}

</div>
