
{# <div class="col-xs-12">
	{{ form_row(formValid.comment) }}
</div> #}

<div class="col-xs-12 col-sm-6">
	{{ form_start(formValid) }}
	{{ form_errors(formValid) }}

	{% if observation.taxon.id is null %}
		<div class="alert alert-danger text-redalert">
			<i class="fas fa-exclamation-triangle"></i>
			Vous devez identifier l'espèce de l'oiseau.
		</div>
	{% endif %}


	<div class="form-group has-error has-feedback">
	</div>

	{{ form_label(formValid.birdName) }} <span class="required">*</span>
	{{ form_errors(formValid.birdName) }}

	<div id="urlsTaxonFeedback" class="input-group">
		{{ form_widget(formValid.birdName) }}
		<a href="#" id="inpnLink" class="input-group-addon btn btn-default disabled" target="_blank"><i class="fas fa-database"></i> INPN</a>
		<a href="#" id="wikiLink" class="input-group-addon btn btn-default disabled" target="_blank"><i class="fab fa-wikipedia-w"></i> Wiki</a>

	</div>
</div>

<div class="col-xs-12">
	{{ form_label(formValid.validation.comment) }}
	{{ form_errors(formValid.validation.comment) }}
	{{ form_widget(formValid.validation.comment) }}
</div>

<div class="col-xs-12 text-center submit-area">
	{{ form_widget(formValid.valid) }}
	{{ form_widget(formValid.reject) }}
	{{ form_widget(formValid.cancel) }}
	{{ form_end(formValid) }}
</div>