<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}NAO{% endblock %}</title>

    {% block stylesheets %}
        <!-- CSS -->
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
        <!-- jQuery -->
        <script src="{{ asset('js/jquery-3.2.1.min.js') }}" type="text/javascript"></script>
        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
        <script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript"></script>
        <!-- Fonts -->
        <link href="{{ asset('fonts/Roboto/Roboto-Regular.ttf') }}" rel="stylesheet" />
        <link href="{{ asset('fonts/Font-awesome/css/fontawesome-all.min.css') }}" rel="stylesheet" />
        <!-- Select 2 -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>

        <link href="{{ asset('croppie.css') }}" rel="stylesheet" />
        <script src="{{ asset('croppie.min.js') }}"></script>
    {% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>