{% extends "UserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ parent() }} - Edition de {{ user.username }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-4">
                {{ form_start(form) }}

                <div class="edit-account-options">
                    <div class="edit-account-title">
                        <h2>Compte utilisateur</h2>
                    </div>
                    <div class="edit-avatar">
                        {{ form_label(form.avatar) }}
                        <div class="user-avatar">
                            {% if user.avatar.id is not defined %}
                                <img src="{{ asset('/img/no-image.png') }}" class="user-avatar-image"/>
                            {% else %}
                                <img src="{{ asset('/uploads/avatar/') }}{{ user.avatar.id }}.{{ user.avatar.extension }}" class="user-avatar-image"/>
                            {% endif %}
                        </div>
                        {{ form_widget(form.avatar) }}
                    </div>
                    <div class="edit-username">
                        {{ form_label(form.username) }} <span class="required">*</span>
                        {{ form_widget(form.username) }}
                    </div>
                    <div class="edit-email">
                        {{ form_label(form.email) }} <span class="required">*</span>
                        {{ form_widget(form.email) }}
                    </div>
                </div>

                <div class="edit-social-options">
                    <div class="edit-account-title">
                        <h2>Réseaux sociaux</h2>
                    </div>
                    <div class="edit-facebook">
                        {{ form_row(form.facebook) }}
                    </div>
                    <div class="edit-instagram">
                        {{ form_row(form.instagram) }}
                    </div>
                    <div class="edit-pinterest">
                        {{ form_row(form.pinterest) }}
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="edit-personal-options">
                    <div class="edit-account-title">
                        <h2>Informations personnelles</h2>
                    </div>
                    <div class="edit-firstname">
                        {{ form_row(form.firstname) }}
                    </div>
                    <div class="edit-name">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="edit-birthdate">
                        {{ form_row(form.birthdate) }}
                    </div>
                    <div class="edit-city">
                        {{ form_row(form.city) }}
                    </div>
                    <div class="edit-job">
                        {{ form_row(form.job) }}
                    </div>
                    <div class="edit-level">
                        {{ form_row(form.level) }}
                    </div>
                    <div class="edit-bio">
                        {{ form_row(form.bio) }}
                    </div>
                </div>
                <div class="edit-confidentiality-options">
                    <div class="edit-confidentiality-title">
                        <h2>Confidentialité</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="edit-user-editing-password">
                    <div class="user-editing-password"> {{ 'Mot de passe administrateur' }}  </div> <span class="required">*</span>
                    {{ form_widget(form.current_password) }}
                </div>
            </div>
            <div class="col-md-8"></div>
        </div>
    </div>

    <div class="edit-profile-submit">
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="edit-profile-submit-input btn btn-default"/>
        {{ form_end(form) }}
    </div>

    <script type="text/javascript">
        // Add form-control id to FOSUser generated inputs
        $('#edit_profile_username, #edit_profile_email, #edit_profile_current_password').addClass("form-control");

        // Add select2 id to birthDate input
        $('#edit_profile_birthdate_year, #edit_profile_birthdate_month, #edit_profile_birthdate_day').select2({width:'33%', padding:'0 10px 0 10px'});
    </script>


{% endblock %}