{% extends "UserBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Edition de {{ user.username }}{% endblock %}

{% block content %}
    <!-- Modal -->
    <div class="modal fade" id="cropp-avatar" tabindex="-1" role="dialog" aria-labelledby="cropp-avatar" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cropp-avatar-title">Redimensionnez votre avatar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="profile-pic-preview"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-nao save-result" data-dismiss="modal">Valider</button>
                </div>
            </div>
        </div>
    </div>

    <div class="user-interface-page-header">
        <div class="page-name">
            Modifier le profil de {{ user.username }}
        </div>
        <div class="validate-edit">
            {{ form_start(form) }}
            <input type="submit" value="Mettre à jour" class="btn btn-nao"/>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12 profile-edit">
            {{ form_errors(form) }}
            <div class="col-md-6">
                <div class="edit-account-options">
                    <div class="edit-account-title">
                        <h2>Compte utilisateur</h2>
                    </div>
                    <div class="edit-avatar">
                        {{ form_label(form.avatar) }}
                        <div class="user-avatar-edit">
                            {% if user.avatar.id is not defined %}
                                <img src="{{ asset('/img/no-image.png') }}" class="user-avatar-image-edit"/>
                            {% else %}
                                <img src="{{ asset('/uploads/avatar/') }}user-{{ user.id }}.{{ user.avatar.extension }}" class="user-avatar-image-edit"/>
                            {% endif %}
                        </div>
                        {{ form_widget(form.avatar) }}
                    </div>
                    <div class="edit-username">
                        {{ form_label(form.username) }} <span class="required">*</span>
                        {{ form_widget(form.username) }}
                    </div>
                    <div class="edit-email">
                        {{ form_label(form.email) }} <span class="required">*</span>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-at"></i></span>
                            {{ form_widget(form.email) }}
                        </div>
                    </div>

                    <div class="edit-user-editing-password">
                        <div class="user-editing-password"> {{ 'Mot de passe administrateur' }}  </div> <span class="required">*</span>
                        {{ form_widget(form.current_password) }}
                    </div>
                </div>


                <div class="edit-social-options">
                    <div class="edit-account-title">
                        <h2>Réseaux sociaux</h2>
                    </div>
                    <div class="edit-facebook">
                        {{ form_row(form.facebook) }}
                    </div>
                    <div class="edit-instagram">
                        {{ form_row(form.instagram) }}
                    </div>
                    <div class="edit-pinterest">
                        {{ form_row(form.pinterest) }}
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="edit-personal-options">
                    <div class="edit-account-title">
                        <h2>Informations personnelles</h2>
                    </div>
                    <div class="edit-firstname">
                        {{ form_row(form.firstname) }}
                    </div>
                    <div class="edit-name">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="edit-birthdate">
                        {{ form_row(form.birthdate) }}
                    </div>
                    <div class="edit-city">
                        {{ form_row(form.city) }}
                    </div>
                    <div class="edit-job">
                        {{ form_row(form.job) }}
                    </div>
                    <div class="edit-level">
                        {{ form_row(form.level) }}
                    </div>
                    <div class="edit-bio">
                        {{ form_row(form.bio) }}
                    </div>
                </div>
                <div class="edit-confidentiality-options">
                    <div class="edit-confidentiality-title">
                        <h2>Confidentialité</h2>
                    </div>
                    <div class="edit-newsletter">
                        {{ form_row(form.receiveNewsletter) }}
                    </div>
                </div>
            </div>
            <div class="edit-profile-submit">
                <input type="submit" value="Mettre à jour" class="edit-profile-submit-input btn btn-nao"/>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        // Add form-control id to FOSUser generated inputs
        $('#edit_profile_username, #edit_profile_email, #edit_profile_current_password').addClass("form-control");

        // Add select2 id to birthDate input
        $('#edit_profile_birthdate_year, #edit_profile_birthdate_month, #edit_profile_birthdate_day').select2({width:'33%', padding:'0 10px 0 10px'});
    </script>

    <script type="text/javascript">
        // Fix birthDate input disposition
        $('#edit_profile_birthdate_day').next('.select2-container').css('padding', '0 0 0 7px');
        $('#edit_profile_birthdate_year').next('.select2-container').css('padding', '0 7px 0 0');
        $('#edit_profile_birthdate_year').next('.select2-container').find('.select2-selection__arrow').css('right', '8px');
    </script>

    <script type="text/javascript">
        // Initialize image cropper
        var $uploadCrop = $('#profile-pic-preview').croppie({
            viewport: {
                width: 315,
                height: 315,
                type: 'square'
            },
            boundary: {
                width: 600,
                height: 600
            },
            enableOrientation: true,
            enableExif: true
        });

        $('#edit_profile_avatar_file').on('change', function() {
            var reader = new FileReader();
            reader.onload = function (e) {
                $uploadCrop.croppie('bind', {
                    url: e.target.result
                })
            };
            reader.readAsDataURL(this.files[0]);
        });

        $('.save-result').on('click', function (ev) {
            $uploadCrop.croppie('result', {
                type: 'canvas',
                size: 'viewport'
            }).then(function (resp) {

                $.ajax({
                    url: "{{ path('nao_edit_user_avatar', {'id' : user.id }) }}",
                    type: "POST",
                    data: {"image":resp},
                    success: function (data) {
                        html = '<img src="' + resp + '"/>';
                        $('.user-avatar-edit>img').remove();
                        $(".user-avatar-edit").append(html);
                    }
                });
            });
        });
    </script>

{% endblock %}