{% extends "UserBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Profil de {{ user.username }}{% endblock %}

{% block content %}
    <div class="user-interface-page-header">
        <div class="page-name">
            Profil de {{ user.username }}
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="go-edit">
                <a href="{{ path('nao_edit_user', {'id' : user.id }) }}" >
                    <button type="submit" class="btn btn-nao">
                        Modifier
                    </button>
                </a>
            </div>
        {% endif %}
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 profile-show">
                <div class="col-md-3 col-md-offset-1">
                    <div class="show-user-info-left">
                        <div class="show-user-info-left-container">
                            <div class="show-avatar">
                                <div class="user-avatar-show">
                                    {% if user.avatar.id is not defined %}
                                        <img src="{{ asset('/img/no-user.png') }}" class="user-avatar-image-show"/>
                                    {% else %}
                                        <img src="{{ asset('/uploads/avatar/') }}user-{{ user.id }}.{{ user.avatar.extension }}" class="user-avatar-image-show"/>
                                    {% endif %}
                                </div>
                                <div class="user-account-info-show">
                                    <div class="user-username-show">
                                        {{ user.username }}
                                    </div>
                                    <div class="user-group-show">
                                        {{ user.groupNames[0] }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pre-separator">A propos</div><div class="separator" id="about"></div>
                        <div class="show-user-info-left-container">
                            <div class="show-user-bio">
                                {% if user.bio|length == 0 %}
                                    Cet utilisateur n'a pas fourni d'informations
                                {% else %}
                                    {{ user.bio|slice(0, 255) }}
                                {% endif %}
                            </div>
                        </div>
                        {% if user.facebook|length == 0 and user.instagram|length == 0 and user.pinterest|length == 0 %}
                            {% else %}
                            <div class="pre-separator">Réseaux sociaux</div><div class="separator" id="social"></div>
                            <div class="show-user-info-left-container">
                                <div class="show-user-social">
                                    {% if user.facebook|length == 0 %}
                                    {% else %}
                                        <a href="{{ user.facebook }}">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    {% endif %}

                                    {% if user.instagram|length == 0 %}
                                    {% else %}
                                        <a href="{{ user.instagram }}">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    {% endif %}

                                    {% if user.pinterest|length == 0 %}
                                    {% else %}
                                        <a href="{{ user.pinterest }}">
                                            <i class="fab fa-pinterest-square"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-6 col-md-offset-right-2">
                    <div class="show-user-info-right">
                        <div class="container-fluid">
                            <div class="show-user-info-right-container">
                                <div class="show-user-name">
                                    {% if (user.firstName|length == 0) or (user.name|length == 0) %}
                                        {{ user.username }}
                                    {% else %}
                                        {{ user.firstName }} {{ user.name }}
                                    {% endif %}
                                    <div class="show-user-name-city">
                                        {% if user.profilePrivacy == 1 %}
                                        {% else %}
                                            {% if user.city|length == 0 %}
                                            {% else %}
                                                <i class="fas fa-map-marker-alt"></i> {{ user.city }}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% if user.profilePrivacy == 1 %}
                                <div class="private-profile">
                                    <i class="fas fa-lock"></i> Ce profil est privé
                                </div>
                            {% else %}
                            <div class="pre-separator">Observations</div><div class="separator" id="observation"></div>
                            <div class="show-user-info-right-container">
                                <div class="show-user-observation">
                                    <div class="col-md-12">
                                        <div class="show-stars">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 pre-col">
                                                <div>Role:</div>
                                                <div>Rang:</div>
                                                <div>Observations:</div>
                                            </div>
                                            <div class="col-md-9 post-col">
                                                {% if user.roles[0] == 'ROLE_USER' %}
                                                    <div>Utilisateur</div>
                                                    {% elseif user.roles[0] == 'ROLE_REDACTEUR' %}
                                                        <div>Rédacteur</div>
                                                    {% elseif user.roles[0] == 'ROLE_SPECIALISTE' %}
                                                        <div>Spécialiste</div>
                                                    {% elseif user.roles[0] == 'ROLE_NATURALISTE' %}
                                                        <div>Naturaliste</div>
                                                    {% elseif user.roles[0] == 'ROLE_ADMIN' %}
                                                        <div>Administrateur</div>
                                                {% endif %}
                                                <div>{{ user.groupNames[0] }}</div>
                                                <div>147</div>
                                            </div>
                                        </div>
                                        <div class="row pre-row">
                                            <div class="show-last-observations">
                                                <div class="col-md-12">
                                                    <div class="row pre-row">
                                                        <div class="last-observation-title">Dernières observations:</div>
                                                        {% if lastThreeObservations %}
                                                            {% for key, observation in lastThreeObservations %}
                                                                    {% set imgSrc = observation.image ? asset(vich_uploader_asset(observation.image, 'imageFile')) : asset(file_image_obs_default) %}
                                                                    {% set imgAlt = observation.image ? observation.birdName : "image par défaut" %}
                                                                    <div class="col-md-4">
                                                                        <a href="{{ path('nao_obs_show', {'id' : observation.id }) }}">
                                                                            <img src="{{ imgSrc }}" alt="{{ imgAlt }}" class="last-observation"/>
                                                                        </a>
                                                                    </div>
                                                            {% endfor %}
                                                        {% else %}
                                                            <div class="no-observation">
                                                                Aucune observation
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pre-separator">Informations</div><div class="separator" id="information"></div>
                            <div class="show-user-info-right-container">
                                <div class="show-user-information">
                                    <div class="col-md-12">
                                        <div class="row pre-row">
                                            <div class="col-md-3 pre-col">
                                                {% if user.name|length == 0 %}
                                                {% else %}
                                                    <div>Nom:</div>
                                                {% endif %}
                                                {% if user.firstName|length == 0 %}
                                                {% else %}
                                                    <div>Prénom:</div>
                                                {% endif %}
                                                {% if user.city|length == 0 %}
                                                {% else %}
                                                    <div>Lieu:</div>
                                                {% endif %}
                                                {% if user.birthDate|length == 0 %}
                                                {% else %}
                                                    <div>Date de naissance:</div>
                                                {% endif %}
                                                {% if user.job|length == 0 %}
                                                {% else %}
                                                    <div>Profession:</div>
                                                {% endif %}
                                                {% if user.level|length == 0 %}
                                                {% else %}
                                                    <div>Niveau:</div>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-9 post-col">
                                                {% if user.name|length == 0 %}
                                                {% else %}
                                                    <div>{{ user.name }}</div>
                                                {% endif %}
                                                {% if user.firstName|length == 0 %}
                                                {% else %}
                                                    <div>{{ user.firstName }}</div>
                                                {% endif %}
                                                {% if user.city|length == 0 %}
                                                {% else %}
                                                    <div>{{ user.city }}</div>
                                                {% endif %}
                                                {% if user.birthDate|length == 0 %}
                                                {% else %}
                                                    <div>{{ user.birthDate|date('d/m/Y') }}</div>
                                                {% endif %}
                                                {% if user.job|length == 0 %}
                                                {% else %}
                                                    <div>{{ user.job }}</div>
                                                {% endif %}
                                                {% if user.level|length == 0 %}
                                                {% else %}
                                                    <div>{{ user.level }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pre-separator">Contact</div><div class="separator" id="contact"></div>
                            <div class="show-user-info-right-container">
                                <div class="show-user-contact">
                                    <div class="col-md-12">
                                        <div class="row pre-row">
                                            <div class="col-md-3 pre-col">
                                                {% if user.phone|length == 0 %}
                                                {% else %}
                                                    <div>Téléphone:</div>
                                                {% endif %}
                                                <div>Email:</div>
                                                {% if user.website|length == 0 %}
                                                {% else %}
                                                    <div>Site web:</div>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-9 post-col">
                                                {% if user.phone|length == 0 %}
                                                {% else %}
                                                    <div><a href="tel:{{ user.phone }}">{{ user.phone }}</a></div>
                                                {% endif %}
                                                <div><a href="mailto:{{ user.email }}">{{ user.email }}</a></div>
                                                {% if user.website|length == 0 %}
                                                {% else %}
                                                    <div><a href="{{ user.website }}">{{ user.website }}</a></div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}