{% extends "UserBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Statistiques{% endblock %}

{% block content %}
    <div class="user-interface-page-header">
        <div class="page-name">
            Statistiques
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 stats-show">
                <div class="col-md-3">
                    <div class="stats-user">
                        <div class="stats-user-title">Utilisateurs</div>
                        <div class="stats-user-subtitle">Nombre total d'utilisateurs</div>
                        <div class="stats-user-content">{{ users }}</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="stats-observation">
                        <div class="stats-observation-title">Observations</div>
                        <div class="stats-observation-subtitle">Nombre total d'observations</div>
                        <div class="stats-observation-content">{{ observations }}</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="stats-article">
                        <div class="stats-article-title">Articles</div>
                        <div class="stats-article-subtitle">Nombre total d'articles</div>
                        <div class="stats-article-content">{{ articles }}</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="stats-comment">
                        <div class="stats-comment-title">Commentaires</div>
                        <div class="stats-comment-subtitle">Nombre total de commentaires</div>
                        <div class="stats-comment-content">{{ comments }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 stats-show">
                <div class="col-md-6">
                    <div id="chart_div" style="width: 100%; height: 500px;"></div>
                </div>
                <div class="col-md-6">

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawVisualization);

        function drawVisualization() {

            var data = google.visualization.arrayToDataTable([
                ['Month', 'Utilisateurs', 'Observations', 'Articles', 'Commentaires'],
                ["{{ graphData.4.date }}",  {{ graphData.4.users }},      {{ graphData.4.observations }},         {{ graphData.4.articles }},             {{ graphData.4.comments }}],
                ["{{ graphData.3.date }}",  {{ graphData.3.users }},      {{ graphData.3.observations }},        {{ graphData.3.articles }},             {{ graphData.3.comments }}],
                ["{{ graphData.2.date }}",  {{ graphData.2.users }},      {{ graphData.2.observations }},        {{ graphData.2.articles }},             {{ graphData.2.comments }}],
                ["{{ graphData.1.date }}",  {{ graphData.1.users }},      {{ graphData.1.observations }},        {{ graphData.1.articles }},             {{ graphData.1.comments }}],
                ["{{ graphData.0.date }}",  {{ graphData.0.users }},      {{ graphData.0.observations }},         {{ graphData.0.articles }},             {{ graphData.0.comments }}]
            ]);

            var options = {
                vAxis: {title: 'Nombre'},
                hAxis: {title: 'Mois'},
                seriesType: 'bars',
                series: {5: {type: 'line'}}
            };

            var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
{% endblock %}