{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="container-fluid index-slide">
        <div class="row">
            <div class="container">
                <div id="index-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner index-carousel-inner">
                        <div class="item active">
                            <img src="{{ asset('img/1.jpg') }}" alt="Oiseau">
                        </div>

                        <div class="item">
                            <img src="{{ asset('img/2.jpg') }}" alt="Oiseau">
                        </div>

                        <div class="item">
                            <img src="{{ asset('img/3.jpg') }}" alt="Oiseau">
                        </div>
                    </div>

                    <a class="left carousel-control" href="#index-carousel" data-slide="prev">
                        <span class="fas fa-chevron-left"></span>
                        <span class="sr-only">Précédent</span>
                    </a>
                    <a class="right carousel-control" href="#index-carousel" data-slide="next">
                        <span class="fas fa-chevron-right"></span>
                        <span class="sr-only">Suivant</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid index-main-content">
        <div class="row">
            <div class="container">
                <div class="col-md-6 no-padding-left">
                    <div class="index-article-container-title">
                        Actualités
                    </div>
                    {% for key, article in lastThreeArticles %}
                        <div class="index-article-single">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="index-article-image" style="background: url({{ asset('/uploads/blog/') }}article-{{ article.uniqueId }}.{{ article.image.extension }});">
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="index-article-content">
                                        <div class="index-article-title">
                                            <a href="{{ path('nao_blog_show_article', {'slug' : article.slug }) }}">
                                                {{ article.title }}
                                            </a>
                                        </div>
                                        <div class="index-article-meta">
                                            {{ article.createdAt|date }}
                                        </div>
                                        <div class="index-article-excerpt">
                                            {{ article.content|striptags|slice(0, 190)|raw }}...
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="index-buttons">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12 no-padding-left">
                                    <a href="{{ path('nao_dashboard') }}">
                                        <button class="btn btn-nao">
                                            Mon espace<br/> NAO
                                        </button>
                                     </a>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <a href="https://www.helloasso.com">
                                        <button class="btn btn-nao">
                                            Faire un<br/> don
                                        </button>
                                    </a>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <a href="{{ path('nao_join_association') }}">
                                        <button class="btn btn-nao">
                                            Adhérer à<br/> la NAO
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="index-main-content-carousel">
                            <div id="index-main-content-carousel" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner index-main-content-carousel-inner">
                                    {% for key, observation in lastThreeObservations %}
                                        {% set imgSrc = observation.image ? asset(vich_uploader_asset(observation.image, 'imageFile')) : asset(file_image_obs_default) %}
                                        {% set imgAlt = observation.image ? observation.birdName : "image par défaut" %}

                                        {% if loop.first %}
                                            <div class="item active index-obs">
                                                <img src="{{ imgSrc }}" alt="{{ imgAlt }}" class="user-avatar-image-show"/>
                                                <div class="index-obs-infos">
                                                    <div class="index-obs-name">
                                                        {{ observation.birdName }}
                                                    </div>
                                                    <div class="index-obs-area">
                                                        {{ observation.locCounty }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="item index-obs">
                                                <img src="{{ imgSrc }}" alt="{{ imgAlt }}" class="user-avatar-image-show"/>
                                                <div class="index-obs-infos">
                                                    <div class="index-obs-name">
                                                        {{ observation.birdName }}
                                                    </div>
                                                    <div class="index-obs-area">
                                                        {{ observation.locCounty }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}

                                    {% endfor %}
                                </div>

                                <a class="left carousel-control" href="#index-main-content-carousel" data-slide="prev">
                                    <span class="fas fa-chevron-left"></span>
                                    <span class="sr-only">Précédent</span>
                                </a>
                                <a class="right carousel-control" href="#index-main-content-carousel" data-slide="next">
                                    <span class="fas fa-chevron-right"></span>
                                    <span class="sr-only">Suivant</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container quick-actions">
                <div class="col-md-3">
                    <div class="quick-actions-icon">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="quick-action-title">
                        Devenez membre NAO
                    </div>
                    <div class="quick-actions-content">
                        Rejoignez une communauté d'ornithologues et de passionnés
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="quick-actions-icon">
                        <i class="fa fa-camera-retro"></i>
                    </div>
                    <div class="quick-action-title">
                        Partagez vos observations
                    </div>
                    <div class="quick-actions-content">
                        Contribuez à l'amélioration de notre base de données sur les oiseaux
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="quick-actions-icon">
                        <i class="fab fa-earlybirds"></i>
                    </div>
                    <div class="quick-action-title">
                        Participez à la préservation
                    </div>
                    <div class="quick-actions-content">
                        Aidez à la sensibilisation et la préservation des espèces en danger
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="quick-actions-icon">
                        <i class="fas fa-sitemap"></i>
                    </div>
                    <div class="quick-action-title">
                        Faites partie du réseau NAO
                    </div>
                    <div class="quick-actions-content">
                        Rejoignez des membres impliqués dans leurs observations
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container four-grid">
                <div class="row">
                    <div class="col-xs-12" id="mapContainer"> {# block map #}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>Centrer la carte sur un lieu</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm" id="search_place" />
                                            <a href="" id="centerMapSearch" class="btn btn-default btn-sm input-group-addon"><i class="fas fa-location-arrow fa-sm"></i></a>
                                            <a href="" id="centerMapFrance" class="btn btn-default btn-sm input-group-addon"><i class="fas fa-crosshairs fa-sm"></i> France</a>
                                            <a href="{{ path('nao_obs_search') }}" id="centerMapFrance" class="btn btn-default btn-sm input-group-addon"><i class="fas fa-search"></i> Accéder au filtres de recherche</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="map" class="map-search"></div>
                            <div class="alert alert-warning margin-off">
                                <i class="fas fa-info-circle"></i>
                                Les chiffres indiqués dans les cercles correspondent aux nombres d'observations. <br>
                                Les logo d'oiseau représentent les observations. Le chiffre incrusté est le nombre d'oiseaux observés.
                            </div>
                        </div>
                    </div> {# end map #}
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid index-mobile">
        <div class="row item-row">
            <div class="col-xs-12">
                <a href="{{ path('nao_obs_add') }}">
                    <div class="index-mobile-item index-mobile-item-observation" id="item-1">
                        <div class="index-mobile-item-observation-overlay"></div>
                        <div class="index-mobile-item-observation-name">
                            Observation
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row item-row">
            <div class="col-xs-6">
                <a href="{{ path('nao_obs_search') }}">
                    <div class="index-mobile-item" id="item-2">
                        <div class="index-mobile-item-icon">
                            <i class="fas fa-search"></i>
                        </div>
                        <div class="index-mobile-item-name">
                            Consultation
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-6">
                <a href="{{ path('nao_blog_index') }}">
                    <div class="index-mobile-item" id="item-3">
                        <div class="index-mobile-item-icon">
                            <i class="fas fa-newspaper"></i>
                        </div>
                        <div class="index-mobile-item-name">
                            Blog
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row item-row">
            <div class="col-xs-6">
                <a href="{{ path('nao_quiz') }}">
                    <div class="index-mobile-item" id="item-4">
                        <div class="index-mobile-item-icon">
                            <i class="fas fa-gamepad"></i>
                        </div>
                        <div class="index-mobile-item-name">
                            Jeu
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-6">
                <a href="{{ path('nao_dashboard') }}">
                    <div class="index-mobile-item" id="item-5">
                        <div class="index-mobile-item-icon">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="index-mobile-item-name">
                            Mon espace
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% include 'ObservationBundle:Script:gmapview.html.twig' %}
{% endblock %}