{% extends 'base.html.twig' %}

{% block modal %}{% endblock %}

{% block body %}
    <div class="container-fluid user-interface">
        <div class="row">
            <div class="col-md-2 no-padding sidebar" id="sidebar">
                    <div class="navbar navbar-side" role="navigation">
                        <div class="side">
                            <a href="{{ path('nao_home') }}" class="brand-name-link">
                                <div class="brand-name">
                                    <div class="image-sidebar">
                                        <img src="{{ asset('img/logo.png') }}" class="logo-sidebar"/>
                                    </div>
                                    <div class="title-sidebar">
                                        <span class="orange">N</span>os <span class="orange">A</span>mis les <span class="orange">O</span>iseaux
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="side navbar-user">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="navbar-user-avatar">
                                        {% if app.user.avatar.id is not defined %}
                                            <img src="{{ asset('/img/no-user.png') }}" class="user-avatar-image-sidebar"/>
                                        {% else %}
                                            <img src="{{ asset('/uploads/avatar/') }}user-{{ app.user.id }}.{{ app.user.avatar.extension }}" class="user-avatar-image-sidebar"/>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="navbar-user-user-infos">
                                        <div class="navbar-user-username">{{ app.user.username }}</div>
                                        <div class="navbar-user-group">{{ app.user.groupNames[0] }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="side navbar-menu">
                            <ul class="side-nav">
                                <li class="menu menu-dropdown" data-toggle="collapse" href="#dashboard_collapse" aria-expanded="false" aria-controls="collapse-control">
                                    <a>
                                        <i class="fas fa-tachometer-alt"></i>
                                        Tableau de bord
                                        <span class="menu-arrow"><i class="fas fa-angle-right"></i></span>
                                    </a>
                                    <div class="collapse" id="dashboard_collapse" onClick="event.stopPropagation();">
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="{{ path('nao_dashboard') }}">
                                                    Accueil
                                                </a>
                                            </li>
                                            {% if is_granted('ROLE_ADMIN') %}
                                            <li>
                                                <a href="{{ path('nao_stats') }}">
                                                    Statistiques
                                                </a>
                                            </li>
                                            {% else %}
                                            {% endif %}
                                        </ul>
                                    </div>
                                </li>

                                <li class="menu menu-dropdown" data-toggle="collapse" href="#profile_collapse" aria-expanded="false" aria-controls="collapse-control">
                                    <a>
                                        <i class="fas fa-address-card"></i>
                                        Profil
                                        <span class="menu-arrow"><i class="fas fa-angle-right"></i></span>
                                    </a>
                                    <div class="collapse" id="profile_collapse" onClick="event.stopPropagation();">
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="{{ path('nao_profile') }}">
                                                        Mon profil
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('nao_profile_edit') }}">
                                                        Modifier
                                                    </a>
                                                </li>
                                            </ul>
                                    </div>
                                </li>

                                <li class="menu menu-dropdown" data-toggle="collapse" href="#message_collapse" aria-expanded="false" aria-controls="collapse-control">
                                    <a>
                                        <i class="fas fa-comments"></i>
                                        Messagerie
                                        <span class="menu-arrow"><i class="fas fa-angle-right"></i></span>
                                    </a>
                                    <div class="collapse" id="message_collapse" onClick="event.stopPropagation();">
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="{{ path('fos_message_inbox') }}">
                                                    Boite de réception
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('fos_message_thread_new') }}">
                                                    Nouveau message
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('fos_message_sent') }}">
                                                    Messages envoyés
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('fos_message_deleted') }}">
                                                    Message archivés
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                                <li class="menu">
                                    <a href="{{ path('nao_list_users') }}">
                                        <i class="fas fa-users"></i>
                                        Communauté
                                    </a>
                                </li>

                                <li class="menu menu-dropdown" data-toggle="collapse" href="#observation_collapse" aria-expanded="false" aria-controls="collapse-control">
                                    <a>
                                        <i class="fas fa-eye"></i>
                                        Observations
                                        <span class="menu-arrow"><i class="fas fa-angle-right"></i></span>
                                    </a>
                                    <div class="collapse" id="observation_collapse" onClick="event.stopPropagation();">
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="{{ path('nao_obs_user_list') }}">
                                                    Mes observations
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('nao_obs_add') }}">
                                                    Ajouter une observation
                                                </a>
                                            </li>
                                            {% if is_granted('ROLE_NATURALISTE') %}
                                            <li>
                                                <a href="{{ path('nao_obs_check_list') }}">
                                                    Valider observations
                                                </a>
                                            </li>
                                            {% else %}
                                            {% endif %}
                                        </ul>
                                    </div>
                                </li>

                                {% if is_granted('ROLE_REDACTEUR') %}
                                <li class="menu menu-dropdown" data-toggle="collapse" href="#article_collapse" aria-expanded="false" aria-controls="collapse-control">
                                    <a>
                                        <i class="fas fa-pencil-alt"></i>
                                        Articles
                                        <span class="menu-arrow"><i class="fas fa-angle-right"></i></span>
                                    </a>
                                    <div class="collapse" id="article_collapse" onClick="event.stopPropagation();">
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="{{ path('nao_blog_list_articles') }}">
                                                    Tous les articles
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('nao_blog_add_article') }}">
                                                    Ajouter
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Mes publications
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('nao_blog_list_comments') }}">
                                                    Gestion des commentaires
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                {% else %}
                                {% endif %}

                                <li class="menu">
                                    <a href="#">
                                        <i class="fas fa-heart"></i>
                                        Likes
                                    </a>
                                </li>

                                <li class="menu">
                                    <a href="#">
                                        <i class="fas fa-question"></i>
                                        Support
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
            </div>

            <div class="col-md-10 no-padding user-interface-right-part" id="user-interface-page-content">
                <div class="top-bar">
                    <div class="toggle-sidebar" id="toggle-sidebar">
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="layout-icons">
                        <a href="{{ path('fos_message_inbox') }}">
                            <i class="far fa-envelope"></i>
                        </a>
                        <a href="{{ path('nao_profile_edit') }}">
                            <i class="fas fa-cogs"></i>
                        </a>
                    </div>
                    <div class="user-options-menu" id="user_options_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <a href="{{ path('nao_profile') }}">
                            {% if app.user.avatar.id is not defined %}
                                <img src="{{ asset('/img/no-user.png') }}" class="user-avatar-image-topbar"/>
                            {% else %}
                                <img src="{{ asset('/uploads/avatar/') }}user-{{ app.user.id }}.{{ app.user.avatar.extension }}" class="user-avatar-image-topbar"/>
                            {% endif %}
                        </a>
                        <span class="topbar-username">{{ app.user.username }}</span>
                        <i class="fas fa-caret-down"></i>
                    </div>
                    <div class="dropdown-menu user-options-menu-dropdown" aria-labelledby="user_options_dropdown">
                        <a class="user-options-menu-dropdown-item" href="{{ path('nao_profile') }}"><i class="fas fa-user"></i> Mon profil</a>
                        <a class="user-options-menu-dropdown-item" href="{{ path('nao_logout') }}"><i class="fas fa-sign-out-alt"></i> Déconnection</a>
                    </div>

                    <nav class="navbar navbar-mobile">
                        <div class="container-fluid">
                            <div class="navbar-header navbar-header-mobile">
                                <button type="button" class="navbar-toggle navbar-toggle-mobile collapsed" data-toggle="collapse" data-target="#collapse-mobile" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a href="{{ path('nao_home') }}">
                                    <div class="collapse-logo">
                                        <img src="{{ asset('img/logo.png') }}" class="collapse-logo img-responsive"/>
                                        <div class="collapse-brand">
                                            NAO
                                        </div>
                                    </div>
                                </a>
                                <div class="collapse-quick-menu">
                                    <a href="{{ path('nao_obs_add') }}">
                                        <i class="fas fa-camera-retro"></i>
                                    </a>
                                    <a href="{{ path('nao_obs_search') }}">
                                        <i class="fas fa-search"></i>
                                    </a>
                                    <a href="{{ path('nao_blog_index') }}">
                                        <i class="far fa-newspaper"></i>
                                    </a>
                                    <a href="{{ path('nao_quiz') }}">
                                        <i class="fas fa-gamepad"></i>
                                    </a>
                                    <a href="{{ path('nao_profile') }}">
                                        <i class="fas fa-user"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="collapse navbar-collapse navbar-collapse-mobile" id="collapse-mobile">
                                <ul class="nav navbar-nav navbar-nav-mobile">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tableau de bord <span class="caret"></span></a>
                                        <ul class="dropdown-menu dropdown-menu-mobile">
                                            <li><a href="{{ path('nao_dashboard') }}">Accueil</a></li>
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <li><a href="{{ path('nao_stats') }}">Statistiques</a></li>
                                                {% else %}
                                            {% endif %}
                                        </ul>
                                    </li>

                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profil <span class="caret"></span></a>
                                        <ul class="dropdown-menu dropdown-menu-mobile">
                                            <li><a href="{{ path('nao_profile') }}">Mon profil</a></li>
                                            <li><a href="{{ path('nao_profile_edit') }}">Modifier</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Messagerie<span class="caret"></span></a>
                                        <ul class="dropdown-menu dropdown-menu-mobile">
                                            <li><a href="{{ path('fos_message_inbox') }}">Boite de réception</a></li>
                                            <li><a href="{{ path('fos_message_thread_new') }}">Nouveau message</a></li>
                                            <li><a href="{{ path('fos_message_sent') }}">Messages envoyés</a></li>
                                            <li><a href="{{ path('fos_message_deleted') }}">Messages archivés</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="{{ path('nao_list_users') }}">Communauté</a></li>

                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Observations<span class="caret"></span></a>
                                        <ul class="dropdown-menu dropdown-menu-mobile">
                                            <li><a href="{{ path('nao_obs_user_list') }}">Mes observations</a></li>
                                            <li><a href="{{ path('nao_obs_add') }}">Ajouter une observation</a></li>
                                            {% if is_granted('ROLE_NATURALISTE') %}
                                            <li><a href="{{ path('nao_obs_check_list') }}">Valider observations</a></li>
                                            {% else %}
                                            {% endif %}
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>

                {% block content %}{% endblock %}
                {% block fos_user_content %}{% endblock %}
                {% block fos_message_content %}{% endblock %}
            </div>
        </div>
    </div>

    {% block javascripts %}
        <script src="{{ asset('js/toggle-sidebar.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/search-user.js') }}" type="text/javascript"></script>
    {% endblock %}
{% endblock %}