{% trans_default_domain 'FOSUserBundle' %}

<div class="container login">
    <div class="row">
        <div class="login-box">

            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}

                <input class="form-login" type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Pseudo" />

                <input class="form-login" type="password" id="password" name="_password" required="required" placeholder="Mot de passe" />

                <div class="remember-me">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                </div>

                <div class="login-submit">
                    <input class="btn btn-nao" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                </div>

                <div class="not-registered">
                    Pas encore membre ? <span class="bleu-nao bold">Créer un compte</span>
                </div>
            </form>
        </div>
    </div>
</div>
