{% extends "UserBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Ajouter une observation{% endblock %}

{% block content %}
    <div class="user-interface-page-header">
        <div class="page-name">
            Ajouter une observation
        </div>
        <div class="validate-edit">
            <input type="submit" value="Ajouter" class="btn btn-nao"/>
        </div>
    </div>
    
    <div class="container">
	    <div class="col-xs-12 profile-edit">
	    	{{ include("ObservationBundle:Form:observation.html.twig") }}
	    </div>
	</div>
{% endblock %}

{% block javascript %}
    {{ include("ObservationBundle:Script:autocomplete.html.twig") }}
    {# {{ include("ObservationBundle:Script:imagecropper.html.twig") }} #}
    {{ include("ObservationBundle:Script:gmapedit.html.twig") }}
    {{ include("ObservationBundle:Script:imageremove.html.twig") }}
{% endblock %}