{% extends "UserBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Contrôler une observation{% endblock %}

{% block content %}
	<div class="user-interface-page-header">

        {% for alert in app.session.flashbag.get('alert') %}
            <div class="alert alert-{{ alert.type }} text-center"><h3>{{ alert.content }}</h3></div>
        {% endfor %}

        {% if observation is null %}
            <div class="alert alert-default">
                Oups... Cette observation n'existe pas ou plus.
            </div>
        </div>

        {% elseif observation.author.id != user.id and not is_granted('ROLE_SPECIALISTE') %}	
            <div class="alert alert-warning">
                Accès refusé : vous n'êtes pas autorisé à valider cette observation.
            </div>
        </div>

        {% else %}
        <div class="page-name">
            Contrôler l'observation n°{{ observation.id }}
        </div>
        <div class="validate-edit">
            <input type="submit" value="Valider" class="btn btn-nao"/>
            <input type="submit" value="Rejeter" class="btn btn-danger"/>
            <a href="#" type="submit" value="Retour" class="btn btn-default">Retour</a>
        </div>
    </div>
    
    <div class="container">
	    <div class="col-xs-12 profile-edit">
	    	{{ include('ObservationBundle:Item:obsdetails.html.twig') }}

            <div class="col-xs-12">
                <div class="panel panel-default panel-nao-yellow">
                    <div class="panel-heading">
                        <h3>Zone de validation</h3>
                    </div>                      
                </div>              
            </div>

            <div class="col-xs-12 col-sm-6">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>Commentaire privé de l'observateur</h5>
                    </div>
                    <div class="panel-body">
                        {{ observation.comment is empty ? "L'observateur n'a laissé aucun commentaire" : observation.comment }}
                    </div>
                </div>

            </div>

            {{ include('ObservationBundle:Form:validation.html.twig') }}
	    </div>
	</div>

		{% endif %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ include("ObservationBundle:Script:autocomplete.html.twig") }}
    {% include 'ObservationBundle:Script:gmapfixed.html.twig' %}
    {% include 'ObservationBundle:Script:imagemodal.html.twig' %}
{% endblock %}
