{% extends "UserBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Contrôler une observation{% endblock %}

{% block content %}
	<div class="user-interface-page-header">

        {% for alert in app.session.flashbag.get('alert') %}
            <p class="alert alert-{{ alert.type }}">{{ alert.content }}</p>
        {% endfor %}

        {% if observation is null %}
            <div class="alert alert-default">
                Oups... Cette observation n'existe pas ou plus.
            </div>
        </div>

        {% elseif observation.author.id != user.id and not is_granted('ROLE_SPECIALISTE') %}	
            <div class="alert alert-warning">
                Accès sécurisé : vous n'êtes pas autorisé à valider cette observation.
            </div>
        </div>

        {% else %}
        <div class="page-name">
            Contrôler l'observation n°{{ observation.id }}
        </div>
        <div class="validate-edit">
            <input type="submit" value="Valider" class="btn btn-nao"/>
            <input type="submit" value="Rejeter" class="btn btn-danger"/>
            <a href="#" type="submit" value="Retour" class="btn btn-default">Retour</a>
        </div>
    </div>
    
    <div class="container">
	    <div class="col-xs-12 profile-edit">
	    	{{ include('ObservationBundle:Item:obsdetails.html.twig') }}
	    	{{ include('ObservationBundle:Form:validation.html.twig') }}
	    </div>
	</div>

		{% endif %}
{% endblock %}

{% block javascript %}
    {{ include("ObservationBundle:Script:autocomplete.html.twig") }}
{% endblock %}


