{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Rechercher des observations{% endblock %}

{% block content %}
    <div class="container">
    	<div class="row">
        <h1>Rechercher des observations</h1>

        <div class="col-xs-12 col-sm-3">
          <div class="row">
        
        		<div class="col-xs-12"> {# block filter #}
              <div class="panel panel-default">
                <div class="panel-heading">
                  {{ totalObs }} observations disponibles
                </div>
                <div class="panel-body">
                  {{ include('ObservationBundle:Form:search.html.twig') }}
                </div>
                <div class="panel-footer">
                  {% if pagination is defined %}
                    {% if pagination.getTotalItemCount > 0 %}
                      {{ pagination.getTotalItemCount }} observations trouvées
                    {% else %}
                        Aucune observation ne correspond à ces critères
                    {% endif %}
                  {% else %}
                    Aucun critère de recherche.
                  {% endif %}
                </div>
              </div>
        		</div> {# end filter #}


          </div>
        </div>

        <div class="col-xs-12 col-sm-9">

            <div class="col-xs-12" id="mapContainer"> {# block map #}
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="form-inline">
                    <div class="form-group">
                      <label>Centrer la carte sur un lieu</label>
                      <div class="input-group">
                        <input type="text" class="form-control input-sm" id="search_place" />
                        <a href="#" id="centerMapSearch" class="btn btn-default btn-sm input-group-addon"><i class="fas fa-location-arrow fa-sm"></i></a>
                        <a href="#" id="centerMapFrance" class="btn btn-default btn-sm input-group-addon"><i class="fas fa-crosshairs fa-sm"></i> France</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="alert alert-warning margin-off">
                  <i class="fas fa-info-circle"></i> 
                  Les chiffres indiqués dans les cercles correspondent aux nombres d'observations. <br>
                  Les logo d'oiseau représentent les observations. Le chiffre incrusté est le nombre d'oiseaux observés.
                </div>
                <div id="map" class="map-search"></div>
              </div>
            </div> {# end map #}


          <div class="col-xs-12"> {# block results #}
            <div class="row">
                {% if pagination is defined %}
                    {% for observation in pagination %}
                      <div class="col-xs-12 col-sm-6">

                        {{ include('ObservationBundle:Item:obsinsearch.html.twig') }}

                      </div>
                    {% endfor %}
                    <div class="navigation">
                      {{ knp_pagination_render(pagination) }}
                    </div>
                {% endif %}
            </div> 
          </div> {# end results #}

        </div>

      </div>    
    </div>
    
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" title="Reset form">
      document.querySelector("button[type='reset']").addEventListener('click', function() {
        var inputs = document.querySelectorAll("input[type='text']");
        Array.prototype.forEach.call( inputs, function( node ) {
            node.setAttribute('value', '');
        });

        var options = document.querySelectorAll('option');
        Array.prototype.forEach.call( options, function( node ) {
            node.removeAttribute('selected');
        });
        document.querySelector("select option:first-child").setAttribute('selected', 'selected');
        document.querySelector("input[type='checkbox']").removeAttribute('checked');
        document.querySelector("input[type='checkbox']").setAttribute('value', 0);
      });
    </script>
    {{ include("ObservationBundle:Script:autocomplete.html.twig") }}
    {{ include("ObservationBundle:Script:gmapview.html.twig") }}
{% endblock %}


