{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Rechercher des observations{% endblock %}

{% block body %}
    <h1>Rechercher des observations</h1>
    <p>carte en version RESPONSIVE (pas sur smartphone)</p>
    <div class="container">
    	<div class="row">
    		<div class="col-xs-12 col-sm-6">
    			formulaire des filtres de recherche
    			<input type="text" id="search_place" />
    		</div>
    		<div class="col-xs-12 col-sm-6">
    			<div id="map"></div>
    		</div>
            <div class="col-xs-12 col-sm-6">
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          {{ observations|length }} observations enregistrées
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <ul class="list-group">
        {% for observation in observations %}
            <li class="list-group-item"><a href="{{ path('nao_obs_show', {'id': observation.id}) }}">{{ observation.birdName }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
            </div>
    	</div>
    </div>
    

{% endblock %}

{% block javascript %}
    {{ include("ObservationBundle:Script:autocomplete.html.twig") }}
    {{ include("ObservationBundle:Script:gmapview.html.twig") }}
{% endblock %}


