{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Rechercher des observations{% endblock %}

{% block body %}
    <div class="container">
    	<div class="row">
        <h1>Rechercher des observations</h1>
        <p>carte en version RESPONSIVE (pas sur smartphone)</p>
    		<div class="col-xs-12 col-sm-6">
          <p>{{ totalObs }} observations disponibles</p>
          <p>Filtres à venir :</p>
          {{ form(formSearch) }}
{#           <ul class="list-group">
            <li class="list-group-item">nom d'un oiseau</li>
            <li class="list-group-item">famille d'oiseaux</li>
            <li class="list-group-item">ordre d'oiseaux</li>
            <li class="list-group-item">observateur</li>
            <li class="list-group-item">localisation : commune, département, région</li>
            <li class="list-group-item">observations avec une image</li>
          </ul> #}
    		</div>
    		<div class="col-xs-12 col-sm-6">
          <div>
            <label>Centrer la carte sur un lieu</label>
            <input type="text" id="search_place" />
            <a href="#" id="centerMapFrance" class="btn btn-default btn-xs"><i class="fas fa-crosshairs fa-sm"></i> France</a>
          </div>
    			<div id="map"></div>
    		</div>
        <div class="col-xs-12 col-sm-6">
          <p>Résultats : ( {{ observations|length }} )</p>
          {% for observation in observations %}
          <ul class="list-group">
            <li class="list-group-item">nom d'oiseau : {{ observation.taxon.nameVern }}</li>
            <li class="list-group-item">famille d'oiseaux : {{ observation.taxon.family }}</li>
            <li class="list-group-item">ordre d'oiseaux : {{ observation.taxon.order }}</li>
            <li class="list-group-item">observateur : {{ observation.author }}</li>
            <li class="list-group-item">observations avec une image : {{ observation.hasImage ? 'oui' : 'non' }}</li>
          </ul>
          {% endfor %}
        </div>      
    </div>
    

{% endblock %}

{% block javascript %}
    <script type="text/javascript" title="Reset form">
      document.querySelector("button[type='reset']").addEventListener('click', function() {
        var inputs = document.querySelectorAll("input[type='text']");
        Array.prototype.forEach.call( inputs, function( node ) {
            node.setAttribute('value', '');
        });

        var options = document.querySelectorAll('option');
        Array.prototype.forEach.call( options, function( node ) {
            node.removeAttribute('selected');
        });
        document.querySelector("select option:first-child").setAttribute('selected', 'selected');
      });
    </script>
    {{ include("ObservationBundle:Script:autocomplete.html.twig") }}
    {{ include("ObservationBundle:Script:gmapview.html.twig") }}
{% endblock %}


