{% extends "UserBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Mes observations{% endblock %}

{% block content %}

	<div class="user-interface-page-header">

        {% for alert in app.session.flashbag.get('alert') %}
            <p class="alert alert-{{ alert.type }}">{{ alert.content }}</p>
        {% endfor %}

        <div class="page-name">
            Mes observations <span class="label label-nao-yellow">{{ totalObs }}</span>
        </div>
        <div class="validate-edit">
        	<a href="{{ path('nao_obs_add') }}" class="btn btn-nao"/>Ajouter</a>
        </div>
    </div>
    
    <div class="container">
	    <div class="col-xs-12 user-interface-content-container">

			{% if totalObs == 0 %}
				<div class="alert alert-default">
	                Vous n'avez pas encore d'observation.
	            </div>

			{% else %}

{# 				<div class="input-group">
                    <input class="form-control" id="system-search" name="q" placeholder="Rechercher" required>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </span>
                </div> #}

                {% set obsPerPage = 10 %}

				<div class="panel">	
				{% if counts.rejected > 0 %}
					<ul class="list-group">
						<li class="list-group-item list-group-item-danger">
							<span class="badge">{{ counts.rejected }}</span>
							<a href="{{ path('nao_obs_user_list') }}">Observations rejetées</a>
						</li>
					</ul>

					<table class="table table-sm table-hover table-striped list-table">
						<tbody>
							{% for observation in pagination %}
								{% if observation.isrejected %}
										{{ include('ObservationBundle:Item:singleobsuserlist.html.twig') }}
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				{% endif %}

				{% if counts.saved > 0 %}
					<ul class="list-group" id="list-obs-saved">
						<li class="list-group-item list-group-item-warning">
							<span class="badge">{{ counts.saved }}</span>
							{% set page = counts.rejected // obsPerPage + 1 %}
							<a href="{{ path('nao_obs_user_list') }}?page={{ page }}#list-obs-saved">
							Observations sauvegardées</a>
						</li>
					</ul>

					<table class="table table-sm table-hover table-striped list-table">
						<tbody>
							{% for observation in pagination %}
								{% if observation.issaved %}
										{{ include('ObservationBundle:Item:singleobsuserlist.html.twig') }}
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				{% endif %}

				{% if counts.needValidation > 0 %}
					<ul class="list-group" id="list-obs-saved">
						<li class="list-group-item list-group-item-warning">
							<span class="badge">{{ counts.needValidation }}</span>
							{% set page = (counts.rejected + counts.saved) // obsPerPage + 1 %}
							<a href="{{ path('nao_obs_user_list') }}?page={{ page }}#list-obs-saved">
							Observations en attente de validation</a>
						</li>
					</ul>

					<table class="table table-sm table-hover table-striped list-table">
						<tbody>
							{% for observation in pagination %}
								{% if observation.needValidation %}
										{{ include('ObservationBundle:Item:singleobsuserlist.html.twig') }}
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				{% endif %}

				{% if counts.validated > 0 %}
					<ul class="list-group" id="list-obs-validated">
						<li class="list-group-item list-group-item-success">
							<span class="badge">{{ counts.validated }}</span>
							{% set page = (counts.rejected + counts.saved + counts.needValidation) // obsPerPage + 1 %}
							<a href="{{ path('nao_obs_user_list') }}?page={{ page }}#list-obs-validated">
							Observations validées</a>
						</li>
					</ul>

					<table class="table table-sm table-hover table-striped list-table">
						<tbody>
							{% for observation in pagination %}
								{% if observation.isvalidated %}
										{{ include('ObservationBundle:Item:singleobsuserlist.html.twig') }}
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				{% endif %}	

					<div class="panel-footer navigation">
				    	{{ knp_pagination_render(pagination) }}
					</div>

				</div>

			{% endif %}

	    </div>
	</div>

{% endblock %}


