{% extends "UserBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Observations à valider{% endblock %}

{% block content %}
	<div class="user-interface-page-header">

        {% for alert in app.session.flashbag.get('alert') %}
            <div class="alert alert-{{ alert.type }}"><h4>{{ alert.content }}</h4></div>
        {% endfor %}

        <div class="page-name">
{#             Observations à valider <span class="label label-nao-yellow">{{ pagination.getTotalItemCount }}</span> #}
            Observations à valider <span class="label label-nao-yellow">{{ observations|length }}</span>
        </div>
        <div class="validate-edit">
            <a href="{{ path('nao_obs_user_list') }}" class="btn btn-nao"/>Mes observations</a>
        </div>
    </div>
    
    <div class="user-interface-container">
	    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

{# 			{% if pagination.getTotalItemCount is same as(0) %} #}
			{% if observations is empty %}

				<div class="alert alert-default">
	                <i class="fas fa-check"></i> Application à jour : aucune observation à valider.
	            </div>

			{% else %}

				<div class="input-group">
                    <input class="form-control" id="inputQuery" name="q" placeholder="Rechercher" onkeyup="searchTable()" required>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </span>
                </div>

                <div class="panel panel-default">
				<div class="table-responsive">
					<table class="table table-hover table-striped list-table">
						<thead>
	    					<tr>
	    						<th class="col-sm-1">Réf.</th>
	    						<th class="col-sm-6">Oiseau</th>
	    						<th class="col-sm-3">Date de soumission</th>
	    						<th class="col-sm-2">Auteur</th>
	    					</tr>
						</thead>
	    				<tbody id="tableSearch">
{# 							{% for observation in pagination %} #}
							{% for observation in observations %}
		    					<tr>
		    						<td>
		    							<span class="badge">{{observation.id}}</span>	
		    						</td>
		    						<td>
		    							{% if observation.noName %}
											<i class="far fa-question-circle"></i> 
										{% endif %}
		    							<a href="{{ path('nao_obs_check', {'id': observation.id}) }}">{{ observation.birdName ? observation.birdName : 'non identifié' }}</a>
		    						</td>
		    						<td>
		    							{{ observation.updatedAt|date('d/m/Y : H\\hm') }}
		    						</td>
		    						<td>
		    							<a href="{{ path('nao_show_user',{'id': observation.author.id}) }}" class="btn btn-default pull-right">{{ observation.author.username }} <i class="fas fa-user"></i></a>
		    						</td>
		    					</tr>
							{% endfor %}
	    				</tbody>
	    			</table>
{# 					<div class="panel-footer navigation">
				    	{{ knp_pagination_render(pagination) }}
					</div>	 #}
				</div>
				</div>			
			{% endif %}

	    </div>
	</div>

{% endblock %}


{% block javascript %}
	{{ parent() }}
	{% include 'ObservationBundle:Script:searchintable.html.twig' %}
{% endblock %}

{# modif #}