{% extends "BlogBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Article{% endblock %}

{% block content %}
    <h1>Blog</h1>

    {{ article.title }}
    {{ article.content }}

    {% if article.image is not defined %}
        <img src="{{ asset('/img/no-image.png') }}" class="user-avatar-image-edit"/>
    {% else %}
        <img src="{{ asset('/uploads/blog/') }}article-{{ article.uniqueId }}.{{ article.image.extension }}" class="user-avatar-image-edit"/>
    {% endif %}

    {{ article.author }}

    {{ form_start(form) }}
    <div>
        <input type="submit" value="Commentaire" />
    </div>
    {{ form_end(form) }}

    {% for comment in article.comments %}
        {{ comment.content }}
    {% endfor %}
{% endblock %}